img.main {
  float: left;
}

.sidebar {
  float: right;
}

.column1 {
  width: 300px;
  float: left;
  background: blue;
}

.column2 {
  width: 300px;
  float:left;
  background: red;
}

.column3 {
  width: 300px;
  float: left;
  background: green;
}
